.panel {
    position: relative;
    width: 100%;

    padding: 5px;

    text-align: center;

    z-index: -1;

    background-color: var(--lightgray);
    border-radius: 10px;

    color: var(--white);
}

.start {
    height: 100%;
    position: fixed;
    margin-top: 30px;

    padding: auto;
    border-radius: 0;

    background-color: var(--black);
}

#title {
    position: absolute;
    top: 35%;
    left: 40%;

    font-size: 40px;
}


.appearing {
    margin-top: 55%;
    background-color: var(--darkgray);
}

.bg {
    position: fixed;
    z-index: -1000;

    background-color: var(--white);
}

.gallery img{
    display: inline;
    float: center;
    margin: 2% 6%;
}