.content-wrapper {
    position: relative;
    margin-top: 55%;
    width: inherit;
}

.main {
    position: fixed;
    z-index: -1;

    /* Center title text to screen */
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    color: var(--white);
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;

    background-color: var(--black);
}

.panel {
    width: auto;
    height: auto;

    background-color: var(--darkgray);

    color: var(--white);
}

#game-gallery {
    overflow: auto;
    white-space: nowrap;
}

.game {
    min-width: 200px;
    min-height: 370px;
    display: inline-block;
    margin: 5px 20px;

    border: 2px solid var(--black);
}

.game img {
    float: top;
}

.game span {
    display: block;
    font-weight: normal;
}

.news-block {
    min-width: 200px;
    max-width: 200px;
    height: 355px;
    display: inline-block;
    margin: 5px 20px;
    
    border: 2px solid var(--black);
}

.news-content {
    height: 155px;
    width: 200px;

    text-align: justify;
    text-justify: distribute-all-lines;
}

.news-block h5 {
    display: block;
    float: top;

    margin: 2px;
}

.news-block img {
    float: top;
}

.news-block p {
    padding: 5px;
    margin: 0;
    font-weight: normal;
}

#news-header {
    margin: 0;
    padding: 2px;
    padding-top: 10px;
}